@mixin flexbox($display, $justify-content, $align-items) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin scroll {
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar {
    background-color: var(--light-gray);
  }
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-thead-table);
  }
  //  for Mozilla Firefox
  scrollbar-color: var(--color-thead-table) var(--white);
  scrollbar-width: thin;
  scrollbar: thin;
}


@mixin fieldStyles {
  position: relative;
  border: 1px solid var(--light-gray);
  border-radius: var(--radius);
  color: var(--light-gray-secondary);
  overflow: hidden;
}

@mixin labelStyles {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  background-color: var(--white);
  transition: all .1s linear;
}
