:root {
  // colors
  --white: #ffffff;
  --black: #000000;
  --gray: #C2CBD1;

  --light-gray: #E6ECEF;
  --ligt-gray-bg:#E5E8ED;
  --light-gray-secondary:#868A8D;
  --dark: #212229;
  --blue: #1493FE;
  --dark-blue: #0A508B;
  --light-blue:#057AE3;
  --red: #B0263D;
  --dark-red: #7c1526;
  --color-thead-table: #84a7c5;



  // font - sizes 
  --medium: 12px;


  // border - radius 

  --radius: 4px;
}

