@import '../../../styles/mixins.scss';

.field {
  @include fieldStyles;
  margin-bottom: 16px;
  &Label,&Input {
    display: block;
    text-align: left;
  }

  &Label {
    @include labelStyles;
    left: 14px;
  }

  &Label:global(.focus) {
    top: -50%;
  }


  &Input {
    border: none;
    outline: none;
    min-width: 240px;
    padding: 14px;
    color: var(--black);
    border-radius: var(--radius);
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type=number] {
      -moz-appearance: textfield;
    }
  }

  &:global(.error) {
    border: 1px solid var(--red);
    .fieldLabel {
      color: var(--red);
    }
  }
}